@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

html {
    scroll-behavior: smooth;
    overflow: visible;
}

body {
    overflow: visible;
    margin: 0;
    font-family: "Inter", sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    background-color: #daa4aa;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1em;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #daa4aa;
}

::selection {
    color: white;
    background: #daa4aa;
}

// Main Container setup
.main {
    display: flex;
    max-width: 1078px;
    align-items: center;
    justify-content: center;
}

// Button CSS
.custom-button {
    background: rgba(238, 144, 159, 0.904);
    align-items: center;
    justify-content: center;
    padding: 9px 9px;
    border-radius: 6px;
    border: none;
    display: grid;
    justify-content: center;
    color: white;
    height: 40px;
    min-width: 100px;
    font-size: small;

    &.full {
        width: 100%;
    }
}

// Input CSS
.custom-input {
    padding: 8px 11px;
    box-shadow: 0px 0px 0px 1px #5B6178;
    border-radius: 6px;

    input {
        background: transparent;
        border: none;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

// Label CSS
.wrap-label {
    display: grid;
    gap: 10px;
    width: 100%;
}

// Select CSS
.custom-select {
    background: #181F30;
    border-radius: 6px;
    display: grid;
    gap: 8px;
    align-items: center;

    &>.icon {
        transform: rotateZ(90deg);
    }
}